<p id="notice"><%= notice %></p>

<details>
  <summary><%= @card.question %></summary>
  <p><%= @card.content %></p>
</details>

<p>How did you do?</p>

<%= form_tag(respace_path(@card), method: 'post') do %>
  <label for="submit">I got it...</label>
  <%= submit_tag 'Right, and it was easy' %>
  <%= submit_tag 'Right, but it was effortful' %>
  <%= submit_tag 'Wrong' %>
<% end %>
