<%= form_with(model: card, local: true, id: 'card_form') do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_area :question %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <% ActsAsTaggableOn::Tag.all.each do |tag| %>
      <%= form.label tag.name %>
      <%= check_box("card", tag.name, checked: (card.tags.include? tag), class: "checkbox--tag") %>
    <% end %>

    <%= form.hidden_field :tag_list %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
