<% if @card.question %>
<p>
  <%= @card.question %>
</p>
<% end %>

<% if @card.content %>
<p>
  <%= @card.content %>
</p>
<% end %>

<% if @card.tags.any? %>
<p>
  <%= @card.tag_list %>
</p>
<% end %>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
